mark.inline_translation {
    background:inherit;
    color:inherit;
    font-weight: inherit;
}

mark.inline_translation:hover,
mark.inline_translation.inline_translation--active {
    background: #FAFF0B;
}

mark.inline_translation.pointer {
    cursor:pointer;
}

.translation_list {
    display: block;
    position: fixed;
    height: 400px;
    bottom:0;
    left:0;
    margin-left:15px;
    margin-bottom:20px;
    overflow:auto;
    width:300px;
    background:#d9dde0;
}

.translation_list > ul {
    display:block;
    margin:0;
    padding:5px 6px;
    position:relative;
    z-index:35;
}

.translation_list > ul > li {
    display:block;
    margin:2px 0;
    padding:2px 10px;
    cursor:pointer;
}

.translation_list > ul > li:hover {
    background:#258cd1;
    color:#fff;
}

.translation_list > ul > li > small {
    display:block;
}

.translation_form {
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    z-index:40;
    background:#d9dde0;
    top:0;
    left:0;
    padding:7px 16px;
}

.translation_form.active {
    display:block;
}

.translation_form--rows {
    margin-top:20px;
}

.translation_form--rows > div {
    margin-bottom:10px;
}

.translation_form label {
    display:inline-block;
    width:20%;
}

.translation_form input {
    display:inline-block;
    width:80%;
}
